# Header
Header always set Access-Control-Allow-Origin http://www.meutroco.com.br
Header always set Access-Control-Allow-Credentials true
Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header always set Access-Control-Allow-Headers x-requested-with

# Options
Options +FollowSymLinks
Options -Indexes

# Conditions
RewriteEngine on
#RewriteBase /api.meutroco.com.br
#RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-f 
RewriteCond %{SCRIPT_FILENAME} !-d 

### Contas
RewriteRule ^(.*)/accounts/(.*)$ accounts/index.php?who=$1&$2 [NC]
RewriteRule ^(.*)/accounts/(.*)/(.*)$ accounts/index.php?who=$1&id=$2&$3  [NC]

### Transações
RewriteRule ^(.*)/transactions/(.*)$ transactions/index.php?who=$1&$2 [NC]
RewriteRule ^(.*)/transactions/(.*)/(.*)$ transactions/index.php?who=$1&id=$2&$3 [NC]

### Tags
RewriteRule ^(.*)/tag/(.*)/(.*)$ tags/index.php?who=$1&id=$2&$3  [NC]
RewriteRule ^(.*)/tags/(.*)$ tags/index.php?who=$1&$2 [NC]

### Informações gerais do usuário
RewriteRule ^user/(.*)$ users/index.php?$1 [NC]

### Acesso ao login do API
RewriteRule ^login/$ access/index.php [NC]
RewriteRule ^login$ access/index.php [NC]
RewriteRule ^(.*)/logout/(.*)$ access/index.php?who=$1&$2 [NC]